        /*UNIVERSAL SELECTOR*/

* {
    box-sizing: border-box;
}


/**********************************
GENERAL & P ELEMENTS
**********************************/

body {
    font-family: 'Inconsolata;
 line-height: 1.5;
    margin: 0;
}

.main-header {
    background: linear-gradient(#c2edf6, transparent 90%), linear-gradient(0deg, #fff, transparent), #ffa949 url('../img/pizza.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
}

.main-header,
.title {
    text-align: center;
}

.title {
    /*To change font-size from px to em. Do this simple equation.
Whatever the desired pixel is / 16.
26px/16px=     
*/
    border-bottom: 2px solid;
    color: white;
    font-size: 1.625em;
    font-weight: 200;
    letter-spacing: .065em;
    padding-bottom: 10px;
}

.primary-content {
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid #dfe2e6;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content,
.secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
}

.t-border {
    border-top: 2px solid lightgrey;
}

ul,
ol {
    margin-left: 30px 0;
}

li {
    margin-bottom: 10px;
}

.arrow {
    margin-top: 150px;
    width: 50px;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.wildlife {
    background-image: url('../img/olive.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    /*two values first is for top and bottom. 2nd is for the left and right*/
    border-top: 10px solid aqua;
    /*Box shadows: 1st value is horizontal. 2nd is vertical. 3rd is blur. 4th is spread-radius*/
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    /*When 3 values. First one is the top. Second one is left and right. Third one is bottom.*/
    margin: 105px 0 60px;
    padding: 18% 24%;
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

#main-footer {
    border-bottom: solid 10px turquoise;
    padding-bottom: 60px;
    padding-top: 60px;
}


/**********************************
HEADLINE ELEMENTS
**********************************/

h1 {
    /*90px/16px*/
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    margin: 12px 0 0;
    /*Text Shadows: 1st value is horizontal offset. 2nd value is verticle offset. 3rd is blur. 4th is of the color of the shadow.*/
    text-shadow: 0 15px 1px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

h2 {
    font-size: 53px;
    font-weight: normal;
    /*26px/53px*/
    margin-bottom: .5em;
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    /*34px/20px*/
    margin-bottom: 1.7em;
}


/**********************************
FLOATED COLUMNS
**********************************/

.veggie,
.pizza {
    width: 46.5%;
}

.veggie {
    float: left;
}

.pizza {
    float: right;
}

.group:after {
    clear: both;
    content: "";
    display: table;
}


/**********************************
COLORS
**********************************/

body {
    color: rgba(0, 155, 169, 1);
    ;
}

.title {
    color: white;
}

.main-header {
    background-color: turquoise;
}

.wildlife {
    background-color: darkkhaki;
    color: white;
}

ul li {
    color: white;
}

h1 {
    color: red;
}

h3 {
    color: #4852c;
}


/*CSS PSEUDO CLASS*/

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:focus {
    background-color: white;
    color: white;
}


/**********************************
FOOTER
**********************************/

.social-media-icon {
    height: 30px;
    margin: 0 5px;
    width: 30px;
/**********************************
MEDIA QUERIES
**********************************/
    media (max-width: 1024px) {
        .primary-content, .secondary-content {
            width: 90%;
        }
        .wildlife {
            margin: 50px 0 20px;
            padding: 10% 12%;
        }
    }
    @media (max-width: 768px) {
        .primary-content,
        .secondary-content {
            border-top: none;
            padding: 20px;
            width: 100%;
        }
        .main-header {
            max-height: 380px;
            padding: 50px 25px 0;
        }
        .title {
            border: none;
            font-size: 1.3rem;
        }
        h1 {
            font-size: 5rem;
            line-height: 1.1;
        }
        .arrow {
            display: none;
        }
        .intro {
            font-size: 1rem;
        }
        .veggie,
        .pizza {
            float: none;
            width: 100%;
        }
        main-footer {
            padding: 20px 0;
        }
    }
    @media (max-width: 375px) {
        h1 {
            font-size: 3rem;
        }
    }